
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:wght@100&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Play&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=MonteCarlo&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Play&family=Sometype+Mono&display=swap');
/* Reseting some default styles for cross-browser bakchodi */
* {
    margin: 0;
    padding: 0;
    
    
}

body{
    background-color:#f6eee3;
}
/* Navigation Menu */
.navigation-bar {
    background-color: #00000000;
    color: #fff;
    text-align: center;
    padding: 1vh 1vh;
    padding-top: 1.5vw;
    text-align: right;
}
.navigation-bar ul {
    list-style: none;
}
.navigation-bar ul {
    list-style: none;
}
.navigation-bar ul li {
    display: inline;
}
.navigation-bar a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 3vh;
    font-weight: 600;
    padding-inline: 2vw;
}
.navigation-bar a:hover{
    color:#2d3c32;
    
}

.hire-button{
    background-color: #c4bfab;
    border-radius: 2vh 0.1vh 2vh 0.1vh;
    padding-top: 1vw;
    padding-bottom: 1vw; 
    border: solid rgb(75, 211, 136);
}
.hire-button:hover{
    border: solid #2d3c32;
}
.hire-button a:hover{
    color: #fff;
}



/* Landing Page */

.page1{
    display: flex;
    
}
.title{
    font-family: 'Montserrat';
    font-size: 4vh;
    font-weight: bold;
    color: #000000;
    margin: 10vw 5vw 16vw 8vw;
    text-align: left;
    padding: 2vh 1vw 4vh 2vw;
    background-color: #c4bfab;
    border-radius: 1px 20px 1px 20px;
    z-index: 100;
    
}
.page1l h1{
    font-size: 7vh;
    color: #2d3c32;
    padding-left: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4vh;
}

.profile-pic img{
    position: relative;
    z-index: 1;
    width: 40vw;
    margin-right: 3vw;
    top: 20%;
    border-radius:  4px 32% 4px;
}


.green-daba{
    position: absolute; 
    z-index: -1;
    top: 41%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    height: 120%; 
    width: 79%; 
    border-radius: 0px 0px 0px 50%; 
    background-color: rgb(75, 211, 136);
}




/* Education Page Stylings*  */
.page2{
    display: flex;
}

.reading-pic img{
    margin-top: 10vh;
    margin-left: 8vw;
    position: relative;
    z-index: -1;
    height:40vw;
    border-radius: 0px 80px 2px 80px;
    z-index: 0;
}

.green-daba1{
    position: absolute; 
    z-index: -1;
    top: 160%;  
    transform: translate(-50%, -50%); 
    height: 80%; 
    width: 140%; 
    border-radius: 0px 5px 240px 0px ; 
    background-color: rgb(75, 211, 136);
}

.page2r{
    margin: 0vh 0vw 0vh 10vw;
}
.title2{
    position: relative;
    color:#000000;
    margin-top: 4vh;
    font-family:'Oswald', sans-serif;
    font-weight: 500;
    font-size: 7vw;
}

.vssut{
    display: flex;
    position: relative;
    border-radius: 20px 1px 20px 1px;
    height: 18vh;
    width: 38vw;
    padding: 10px; 
    margin-top: 10vh;
    background-color: #c4bfab;
}

.vssut img{
    position: relative;
    border-radius: 1px;
    z-index: 0;
    height: 40px;
    

}
.vssut h2{
    font-family:'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2em;
    
}
.vssut h3{ 
    font-size: 1.6em;
    font-weight: 100;
}

.kv{
    position: relative;
    display: flex;
    padding: 10px;
    height: 18vh;
    width: 38vw;
    margin-top: 10vh;
    background-color:#c4bfab ;
    margin-right: 2vw;
    border-radius: 20px 1px 20px 1px ;
}

.kv img{
    
    position: relative;
    border-radius: 3px ;
    z-index: 0;
    height: 30px;
    padding: 4px;
    

}

.kv h2{
    font-family:'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2em;
    
}
.kv h3{
    font-size: 1.6em;
    font-weight: 100;
}


/* Footer Section Styles */
footer {
    background-image: linear-gradient(180deg,#f6eee3, #c4bfab );
    color: #000000;
    padding: 20px 20px 0px;
    text-align: center;
    font-family: 'Montserrat';
}

.footer-logo img {
    max-width: 22%;
    border-radius:50px 2px 50px 0px ;
    margin-bottom: 0.5vw;
   
}
.footer-logo{

    font-family:'Oswald', sans-serif;
    font-size: 1.5vw;    
}



.social-icons {
    margin-top: 0.5vw;
    border-radius:20px 0px 20px 0px ;
    margin-inline:29vw;
    background-color: rgb(75, 211, 136);
    position: relative;
    padding-top: 2vw;
    z-index: 2;
    margin-bottom: 1vw;
}

.social-icons a {
    margin-right: 1vw;
}

.social-icons img {
    width: 4vw;
    height: 4vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

.samapt p{
    position: relative;
    font-size: 5%;
    font-family:'Oswald', sans-serif;
}
